
header nav[data-te-navbar-ref] {
  position: sticky;
  top: 0;
  z-index: 50; /* ou plus si nécessaire



.author-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.author-thumbnail {
  display: flex;
  align-items: center;
}

.author-thumbnail a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.author-avatar-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  font-size: 0.9rem;
}